{% extends 'auth_app/base.html'%}
{% block content %}
<div class="jumbotron">
  {% if registered %}
  <h1>Thank You for Registering</h1>
  {% else %}
  <h1>WELCOME TO REGISTRATION PAGE</h1>
  <form method="post">
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
    <input class="btn btn-primary btn-lg" type="submit" name="" value="Register">
{% endif %}
  </form>
  
  <br>
  <a href="{% url 'auth_app:user_login'%}">Already Registered? Login Here>>></a>
</div>
{% endblock %}
