{% extends 'idroidos/base.html'%}
{% load static%}
{% block css_style%}
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
{% endblock %}
{% block content %}
<div class="container jumbotron">
<h1 align="center">About</h1>
<p>This is a Tech-blog Web-Application. This is developed by Drishtant Rai (a full stack Django Web-Developer) and
  he owns all the rights regarding this website.</p>
<p>You can read informations about new upcoming smartphones, how do they compete in market and other
things trending in tech, latest news in technologies specially smartphones.You can share your reactions
on my views in the comment box and read other peoples thoughts on the same by registering on our site and
then logging into our website. Don't worry, all your Data is safe and your Password has a four layer
layer encryption protection. Meaning your password isn't stored in plain texts and is in encrypted state.
Also Saved encrypted password will not be simple encryption of your password, we use 3 different encryption algorithms to encrypt
four times before saving it finally.</p>
<h4 align="center">Enjoy Reading:)</h4>
</div>
{% endblock %}
